In [1]:
# module imports

from configparser import ConfigParser
from mysql.connector import MySQLConnection,Error

import gzip
import json

In [2]:
# reading database credentials from config.ini file

def read(filename='config.ini',section='mysql'):
    parser=ConfigParser()
    parser.read(filename)
    
    db={}
    
    if parser.has_section(section):
        items=parser.items(section)
        for item in items:
            db[item[0]]=item[1]
    else:
        raise Exception(f'{section} not found in file {filename}')
    return db 


print(read(filename="config.ini",section="mysql"))

{'host': '127.0.0.1', 'port': '99966', 'database': 'goodreads', 'user': 'root', 'password': 'Milla123!'}

In [3]:
# connecting with MySQL/MariaDB database server and getting the connection and cursor object

def connect(creds):
    con=None
    try:
        print('Connecting to MySQL database...')
        con=MySQLConnection(**creds)
        
        
        if con.is_connected():
            print('Connection established')
            cus = con.cursor(buffered=True)
        else:
            print('Connection failed')
            
    except Error as e:
        print(e)
    finally:
        return con,cus
    
cn,cs=connect(creds=read(filename="config.ini",section="mysql"))

Connecting to MySQL database...
Connection established

In [4]:
# json parser function into python dictionary

def parse_fields(line):
    data = json.loads(line)
    return {
        'isbn': data['isbn'],
        'average_rating': data['average_rating'],
        'description': data['description'],
        'link': data['link'],
        'publisher': data['publisher'],
        'num_pages': data['num_pages'],
        'publication_day': data['publication_day'],
        'publication_month': data['publication_month'],
        'publication_year': data['publication_year'],
        'isbn13': data['isbn13'],
        'url': data['url'],
        'image_url': data['image_url'],
        'book_id': data['book_id'],
        'ratings_count': data['ratings_count'],
        'title': data['title'],
        'mod_title': data['mod_title'],
    }

In [5]:
# reading the first line/record from the compressed json file in a streaming fashion

with gzip.open("../Datasets/Processed/itemDetails_RatingCount_gt15_p2.json.gz") as f:
    line = f.readline()

line

b'{"isbn":"","average_rating":4.03,"similar_books":["19997","828466","1569323","425389","1176674","262740","3743837","880461","2292726","1883810","1808197","625150","1988046","390170","2620131","383106","1597281"],"description":"Omnibus book club edition containing the Ladies of Madrigyn and the Witches of Wenshar.","link":"https:\\/\\/www.goodreads.com\\/book\\/show\\/7327624-the-unschooled-wizard","authors":[{"author_id":"10333","role":""}],"publisher":"Nelson Doubleday, Inc.","num_pages":"600","publication_day":"","publication_month":"","publication_year":"1987","isbn13":"","url":"https:\\/\\/www.goodreads.com\\/book\\/show\\/7327624-the-unschooled-wizard","image_url":"https:\\/\\/images.gr-assets.com\\/books\\/1304100136m\\/7327624.jpg","book_id":"7327624","ratings_count":140,"title":"The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)","mod_title":"the unschooled wizard sun wolf and starhawk 12"}\r\n'

In [6]:
# parsing json record into dictionary and storing that

test_record = parse_fields(line)
test_record

{'isbn': '',
 'average_rating': 4.03,
 'description': 'Omnibus book club edition containing the Ladies of Madrigyn and the Witches of Wenshar.',
 'link': 'https://www.goodreads.com/book/show/7327624-the-unschooled-wizard',
 'publisher': 'Nelson Doubleday, Inc.',
 'num_pages': '600',
 'publication_day': '',
 'publication_month': '',
 'publication_year': '1987',
 'isbn13': '',
 'url': 'https://www.goodreads.com/book/show/7327624-the-unschooled-wizard',
 'image_url': 'https://images.gr-assets.com/books/1304100136m/7327624.jpg',
 'book_id': '7327624',
 'ratings_count': 140,
 'title': 'The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)',
 'mod_title': 'the unschooled wizard sun wolf and starhawk 12'}

In [7]:
# check the datatype of each field and the data as well

print("book_id - ",type(test_record["book_id"])," - ", test_record["book_id"])
print("title - ",type(test_record["title"])," - ", test_record["title"])
print("mod_title - ",type(test_record["mod_title"])," - ", test_record["mod_title"])
print("ratings_count - ",type(test_record["ratings_count"])," - ", test_record["ratings_count"])
print("average_rating - ",type(test_record["average_rating"])," - ", test_record["average_rating"])
print("link - ",type(test_record["link"])," - ", test_record["link"])
print("url - ",type(test_record["url"])," - ", test_record["url"])
print("image_url - ",type(test_record["image_url"])," - ", test_record["image_url"])
print("publication_day - ",type(test_record["publication_day"])," - ", test_record["publication_day"])
print("publication_month - ",type(test_record["publication_month"])," - ", test_record["publication_month"])
print("publication_year - ",type(test_record["publication_year"])," - ", test_record["publication_year"])
print("num_pages - ",type(test_record["num_pages"])," - ", test_record["num_pages"])
print("isbn - ",type(test_record["isbn"])," - ", test_record["isbn"])
print("isbn13 - ",type(test_record["isbn13"])," - ", test_record["isbn13"])
print("description - ",type(test_record["description"])," - ", test_record["description"])
print("publisher - ",type(test_record["publisher"])," - ", test_record["publisher"])

book_id -  <class 'str'>  -  7327624
title -  <class 'str'>  -  The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)
mod_title -  <class 'str'>  -  the unschooled wizard sun wolf and starhawk 12
ratings_count -  <class 'int'>  -  140
average_rating -  <class 'float'>  -  4.03
link -  <class 'str'>  -  https://www.goodreads.com/book/show/7327624-the-unschooled-wizard
url -  <class 'str'>  -  https://www.goodreads.com/book/show/7327624-the-unschooled-wizard
image_url -  <class 'str'>  -  https://images.gr-assets.com/books/1304100136m/7327624.jpg
publication_day -  <class 'str'>  -
publication_month -  <class 'str'>  -
publication_year -  <class 'str'>  -  1987
num_pages -  <class 'str'>  -  600
isbn -  <class 'str'>  -
isbn13 -  <class 'str'>  -
description -  <class 'str'>  -  Omnibus book club edition containing the Ladies of Madrigyn and the Witches of Wenshar.
publisher -  <class 'str'>  -  Nelson Doubleday, Inc.

In [8]:
# accessing the fields dynamically and checking the length of each data so that we can understand which field's data is missing

column_names = [
    "book_id",
    "title",
    "mod_title",
    "ratings_count",
    "average_rating",
    "link",
    "url",
    "image_url",
    "publication_day",
    "publication_month",
    "publication_year",
    "num_pages",
    "isbn",
    "isbn13",
    "description",
    "publisher"
]

trans_to_int = [
    "book_id",
    "publication_day",
    "publication_month",
    "publication_year",
    "num_pages",
]

for col in column_names:
    if (len(str(test_record[col])) < 1):
        print(f"{col} = ", test_record[col])
    else:
        print(f"{col} = ",test_record[col])

book_id =  7327624
title =  The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)
mod_title =  the unschooled wizard sun wolf and starhawk 12
ratings_count =  140
average_rating =  4.03
link =  https://www.goodreads.com/book/show/7327624-the-unschooled-wizard
url =  https://www.goodreads.com/book/show/7327624-the-unschooled-wizard
image_url =  https://images.gr-assets.com/books/1304100136m/7327624.jpg
publication_day =
publication_month =
publication_year =  1987
num_pages =  600
isbn =
isbn13 =
description =  Omnibus book club edition containing the Ladies of Madrigyn and the Witches of Wenshar.
publisher =  Nelson Doubleday, Inc.

In [9]:
# constructing the data transformation function for the fields with missing data

# taking 3 parameters
# all the column name list, colums that need casting to int and a single record/data that needs transformation
def transform_fields(column_names,trans_to_int,test_record):
    # looping through all the columns
    for col in column_names:
        # checking if the length of the data is less than 1 => means data is missing
        if (len(str(test_record[col])) < 1):
        # based on column, we will fill the place with appropriate place holder 
            if (col == "ratings_count"):
                test_record[col] = -1
            elif (col == "average_ratings"):
                test_record[col] = -1.0
            else:
                test_record[col] = "-1"
        # if data is not missing then converting the data into int if the selected column belongs to the column list trans_to_int 
        else:
            if col in trans_to_int:
                test_record[col] = int(test_record[col])
    return test_record

In [10]:
# testing transformation function

transform_fields(column_names, trans_to_int, test_record)

{'isbn': '-1',
 'average_rating': 4.03,
 'description': 'Omnibus book club edition containing the Ladies of Madrigyn and the Witches of Wenshar.',
 'link': 'https://www.goodreads.com/book/show/7327624-the-unschooled-wizard',
 'publisher': 'Nelson Doubleday, Inc.',
 'num_pages': 600,
 'publication_day': '-1',
 'publication_month': '-1',
 'publication_year': 1987,
 'isbn13': '-1',
 'url': 'https://www.goodreads.com/book/show/7327624-the-unschooled-wizard',
 'image_url': 'https://images.gr-assets.com/books/1304100136m/7327624.jpg',
 'book_id': 7327624,
 'ratings_count': 140,
 'title': 'The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)',
 'mod_title': 'the unschooled wizard sun wolf and starhawk 12'}

In [11]:
# SQL insert query => insert one record at a time

# insert function takes 3 parameters
# the non-transformed raw record as dictionary
# connection and cursor object 
def insert_one(record, cn=cn, cs=cs):
    # name of the table
    table = "item"

    # list of columns as string
    columns = """
    item_id,
    book_id,
    title,
    mod_title,
    ratings_count,
    average_rating,
    link,
    url,
    image_url,
    publication_day,
    publication_month,
    publication_year,
    num_pages,
    isbn,
    isbn13,
    description,
    publisher"""

    # placeholders as string
    place_holders = """
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s,
    %s"""

    # transforming the raw dictionary record to make it suitable for the database upload
    record_dict = transform_fields(column_names, trans_to_int, record)

    # accessing the dict data to prepare the data as tuple
    data_tuple = (None,
                record_dict["book_id"],
                record_dict["title"],
                record_dict["mod_title"],
                record_dict["ratings_count"],
                record_dict["average_rating"],
                record_dict["link"],
                record_dict["url"],
                record_dict["image_url"],
                record_dict["publication_day"],
                record_dict["publication_month"],
                record_dict["publication_year"],
                record_dict["num_pages"],
                record_dict["isbn"],
                record_dict["isbn13"],
                record_dict["description"],
                record_dict["publisher"]
                )

    # SQL query to insert the data
    sql_query = f"""
    INSERT INTO {table} ({columns})
    VALUES ({place_holders});
    """

    # trying to execute the query
    try:
        cs.execute(sql_query, data_tuple)
        cn.commit()
    # throwing error in case of unsuccessful attempt
    except Error as e:
        raise Exception(f"{e}")

In [12]:
# testing the data insert function

# insert_one(test_record)

In [13]:
# we will go through all the books from the dataset and insert them one after the other

books = []

with gzip.open("../Datasets/Processed/itemDetails_RatingCount_gt15_p2.json.gz") as f:
    while True:
        # reading the line as json
        line = f.readline()

        # we will break the infinite loop when we reach the end of the dataset file
        if not line:
            break
        
        # parsing the json line into dictionary
        record_dict = parse_fields(line)

        # insert function to upload the data into database
        insert_one(record_dict)

KeyboardInterrupt: