## Search Engine Development => TFIDF + Cosine Similarity

### Importing Modules

In [1]:
import pandas as pd
import numpy as np
import re

from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from scipy.sparse import save_npz, load_npz
import pickle

### Import Data

In [9]:
items = pd.read_parquet('../../../Datasets/Processed/books_SE_v3.parquet')

In [3]:
items.shape

(2113033, 6)

In [4]:
items.head()

,book_id,title_without_series,title,language_code,mod_title,mod_title_without_series
0,5333265,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film,,wc fields a life on film,wc fields a life on film
1,1333909,Good Harbor,Good Harbor,,good harbor,good harbor
2,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,the unschooled wizard sun wolf and starhawk 12,the unschooled wizard sun wolf and starhawk 12
3,6066819,Best Friends Forever,Best Friends Forever,eng,best friends forever,best friends forever
4,287140,Runic Astrology: Starcraft and Timekeeping in ...,Runic Astrology: Starcraft and Timekeeping in ...,,runic astrology starcraft and timekeeping in t...,runic astrology starcraft and timekeeping in t...

In [14]:
# stop code here

10/0

### TF*IDF Scoring on `mod_title` Column Data and Preparing the Vector Memory Matrix - Unigrams

**Define Custom Tokenizer Using NLTK**
- We are using custom tokenizer because using the default tokenizer of `TfidfVectorizer` object will not consider single character terms/vocabulary and vectors/names

In [4]:
def custom_tokenizer(text):
    tokens = word_tokenize(text)
    return tokens

In [15]:
# initializing the object

vectorizer_uni = TfidfVectorizer(analyzer='word', ngram_range=(1, 1),
                    min_df=0, stop_words=None, tokenizer=custom_tokenizer)

In [16]:
# generating the terms/vocabulary and calculating the tf*idf score

tfidf_uni = vectorizer_uni.fit_transform(items["mod_title"])

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [18]:
# shape of the total tfidf matrix
# row, columns = movies, terms

tfidf_uni.shape

(2113033, 313890)

In [24]:
tfidf_uni.dtype

dtype('float64')

In [19]:
# type of the vocabulary array

type(vectorizer_uni.get_feature_names_out())

numpy.ndarray

**Terms with length less than 3 - Without custom tokenizer**

In [ ]:
# Use NumPy's vectorized operations to find strings with length less than 5
short_strings = np.vectorize(lambda x: len(x) < 3)(vectorizer_uni.get_feature_names_out())

# Filter the original array using the boolean mask
result = vectorizer_uni.get_feature_names_out()[short_strings]

# Print the result
print(result)

['00' '01' '02' '03' '04' '05' '06' '07' '08' '09' '0a' '0f' '10' '11'
 '12' '13' '14' '15' '16' '17' '18' '19' '1a' '1b' '1c' '1d' '1e' '1f'
 '1g' '1h' '1k' '1l' '1m' '1n' '1p' '1s' '1t' '1v' '1w' '1x' '20' '21'
 '22' '23' '24' '25' '26' '27' '28' '29' '2a' '2b' '2c' '2d' '2e' '2g'
 '2k' '2q' '2s' '2v' '2x' '30' '31' '32' '33' '34' '35' '36' '37' '38'
 '39' '3a' '3b' '3c' '3d' '3e' '3g' '3l' '3m' '3s' '3t' '3v' '3w' '3x'
 '3z' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '4a' '4b' '4c'
 '4d' '4e' '4f' '4g' '4h' '4k' '4m' '4q' '4r' '4s' '4u' '4x' '50' '51'
 '52' '53' '54' '55' '56' '57' '58' '59' '5a' '5b' '5c' '5d' '5e' '5k'
 '5q' '5s' '5v' '5x' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69'
 '6a' '6c' '6e' '6i' '6k' '6s' '6x' '70' '71' '72' '73' '74' '75' '76'
 '77' '78' '79' '7a' '7b' '7c' '7d' '7e' '7g' '7l' '7s' '80' '81' '82'
 '83' '84' '85' '86' '87' '88' '89' '8a' '8b' '8c' '8e' '8i' '8x' '90'
 '91' '92' '93' '94' '95' '96' '97' '98' '99' '9a' '9b' '9c' '9e' '9i'
 '9k' '9l' '9s' 'a0' 'a1' 'a2' 'a3' 'a4' 'a5' 'a6' 'aa' 'ab' 'ac' 'ad'
 'ae' 'af' 'ag' 'ah' 'ai' 'aj' 'ak' 'al' 'am' 'an' 'ao' 'ap' 'aq' 'ar'
 'as' 'at' 'au' 'av' 'aw' 'ax' 'ay' 'az' 'b1' 'b2' 'b3' 'b4' 'b5' 'b6'
 'b7' 'b8' 'ba' 'bb' 'bc' 'bd' 'be' 'bf' 'bg' 'bh' 'bi' 'bj' 'bk' 'bl'
 'bm' 'bn' 'bo' 'bp' 'br' 'bs' 'bt' 'bu' 'bw' 'bx' 'by' 'bz' 'c1' 'c2'
 'c3' 'c4' 'c5' 'c6' 'c7' 'c8' 'ca' 'cb' 'cc' 'cd' 'ce' 'cf' 'cg' 'ch'
 'ci' 'cj' 'ck' 'cl' 'cm' 'cn' 'co' 'cp' 'cq' 'cr' 'cs' 'ct' 'cu' 'cv'
 'cw' 'cy' 'cz' 'd0' 'd1' 'd2' 'd3' 'd4' 'd6' 'd8' 'da' 'db' 'dc' 'dd'
 'de' 'df' 'dg' 'dh' 'di' 'dj' 'dk' 'dl' 'dm' 'dn' 'do' 'dp' 'dr' 'ds'
 'dt' 'du' 'dv' 'dw' 'dx' 'dy' 'e1' 'e2' 'e3' 'e4' 'e7' 'ea' 'eb' 'ec'
 'ed' 'ee' 'ef' 'eg' 'eh' 'ei' 'ej' 'ek' 'el' 'em' 'en' 'eo' 'ep' 'eq'
 'er' 'es' 'et' 'eu' 'ev' 'ew' 'ex' 'ey' 'ez' 'f1' 'f3' 'f4' 'f5' 'f6'
 'f8' 'f9' 'fa' 'fb' 'fc' 'fd' 'fe' 'ff' 'fg' 'fh' 'fi' 'fj' 'fk' 'fl'
 'fm' 'fo' 'fr' 'fs' 'ft' 'fu' 'fv' 'fw' 'fx' 'g1' 'g2' 'g3' 'g5' 'g6'
 'g7' 'g8' 'g9' 'ga' 'gb' 'gc' 'gd' 'ge' 'gf' 'gg' 'gh' 'gi' 'gj' 'gk'
 'gl' 'gm' 'gn' 'go' 'gp' 'gq' 'gr' 'gs' 'gt' 'gu' 'gw' 'gx' 'gy' 'h1'
 'h2' 'h3' 'h8' 'ha' 'hb' 'hc' 'hd' 'he' 'hf' 'hg' 'hh' 'hi' 'hj' 'hk'
 'hl' 'hm' 'ho' 'hp' 'hq' 'hr' 'hs' 'ht' 'hu' 'hw' 'hy' 'hz' 'i1' 'i2'
 'i3' 'i5' 'i6' 'i7' 'ia' 'ib' 'ic' 'id' 'ie' 'if' 'ig' 'ih' 'ii' 'ik'
 'il' 'im' 'in' 'io' 'ip' 'iq' 'ir' 'is' 'it' 'iu' 'iv' 'ix' 'iy' 'iz'
 'j1' 'j2' 'j3' 'j4' 'ja' 'jb' 'jc' 'jd' 'je' 'jf' 'jg' 'jh' 'ji' 'jj'
 'jk' 'jl' 'jm' 'jn' 'jo' 'jp' 'jq' 'jr' 'js' 'jt' 'ju' 'jv' 'jw' 'jy'
 'jz' 'k1' 'k2' 'k3' 'k4' 'k5' 'k6' 'k8' 'k9' 'ka' 'kb' 'kc' 'kd' 'ke'
 'kf' 'kg' 'kh' 'ki' 'kj' 'kk' 'kl' 'km' 'ko' 'kp' 'kq' 'kr' 'ks' 'kt'
 'ku' 'kw' 'ky' 'kz' 'l0' 'l1' 'l2' 'l3' 'l4' 'l5' 'la' 'lb' 'lc' 'ld'
 'le' 'lf' 'lg' 'li' 'lj' 'lk' 'll' 'lm' 'lo' 'lp' 'lr' 'ls' 'lt' 'lu'
 'lv' 'ly' 'lz' 'm1' 'm2' 'm3' 'm4' 'm6' 'm9' 'ma' 'mb' 'mc' 'md' 'me'
 'mf' 'mg' 'mh' 'mi' 'mj' 'mk' 'ml' 'mm' 'mn' 'mo' 'mp' 'mq' 'mr' 'ms'
 'mt' 'mu' 'mv' 'mw' 'mx' 'my' 'mz' 'n0' 'n1' 'n2' 'n3' 'n4' 'n5' 'n6'
 'n9' 'na' 'nb' 'nc' 'nd' 'ne' 'nf' 'ng' 'nh' 'ni' 'nj' 'nl' 'nm' 'nn'
 'no' 'np' 'nr' 'ns' 'nt' 'nu' 'nv' 'nw' 'ny' 'nz' 'o1' 'o2' 'oa' 'ob'
 'oc' 'od' 'oe' 'of' 'og' 'oh' 'oi' 'oj' 'ok' 'ol' 'om' 'on' 'oo' 'op'
 'or' 'os' 'ot' 'ou' 'ov' 'ow' 'ox' 'oy' 'oz' 'p1' 'p2' 'p4' 'p8' 'pa'
 'pb' 'pc' 'pd' 'pe' 'pf' 'pg' 'ph' 'pi' 'pj' 'pk' 'pl' 'pm' 'pn' 'po'
 'pp' 'pq' 'pr' 'ps' 'pt' 'pu' 'pv' 'px' 'py' 'pz' 'q1' 'q2' 'q3' 'qa'
 'qb' 'qc' 'qe' 'qi' 'ql' 'qm' 'qp' 'qq' 'qr' 'qs' 'qu' 'r2' 'r3' 'r4'
 'ra' 'rb' 'rc' 'rd' 're' 'rf' 'rg' 'rh' 'ri' 'rj' 'rk' 'rl' 'rm' 'rn'
 'ro' 'rp' 'rr' 'rs' 'rt' 'ru' 'rv' 'rw' 'rx' 'ry' 'rz' 's1' 's2' 's3'
 's4' 's5' 'sa' 'sb' 'sc' 'sd' 'se' 'sf' 'sg' 'sh' 'si' 'sj' 'sk' 'sl'
 'sm' 'sn' 'so' 'sp' 'sq' 'sr' 'ss' 'st' 'su' 'sv' 'sw' 'sx' 'sy' 'sz'
 't1' 't2' 't3' 't4' 't5' 't6' 't7' 't8' 't9' 'ta' 'tb' 'tc' 'td' 'te'
 'tf' 'tg' 'th' 'ti' 'tj' 'tk' 'tl' 'tm' 'tn' 'to' 'tp' 'tq' 'tr' 'ts'
 'tt' 'tu' 'tv' 'tw' 'tx' 'ty' 'u1' 'u2' 'u4' 'u7' 'u9' 'ua' 'uc' 'ud'
 'ue' 'uf' 'ug' 'uh' 'ui' 'uk' 'ul' 'um' 'un' 'up' 'uq' 'ur' 'us' 'ut'
 'uu' 'uv' 'uw' 'ux' 'uz' 'v1' 'v2' 'v3' 'v4' 'v5' 'v6' 'v7' 'v8' 'v9'
 'va' 'vb' 'vc' 'vd' 've' 'vf' 'vg' 'vi' 'vj' 'vm' 'vn' 'vo' 'vp' 'vr'
 'vs' 'vt' 'vu' 'vw' 'vx' 'vy' 'w2' 'w3' 'wa' 'wb' 'wc' 'we' 'wf' 'wg'
 'wh' 'wi' 'wj' 'wk' 'wl' 'wm' 'wn' 'wo' 'wp' 'wr' 'ws' 'wt' 'wu' 'wv'
 'ww' 'wy' 'x0' 'x1' 'x2' 'x3' 'x4' 'x5' 'x6' 'x7' 'x9' 'xe' 'xi' 'xj'
 'xl' 'xo' 'xp' 'xs' 'xt' 'xu' 'xv' 'xx' 'xy' 'y1' 'y6' 'ya' 'yb' 'ye'
 'yg' 'yi' 'ym' 'yn' 'yo' 'yr' 'ys' 'yt' 'yu' 'yz' 'z1' 'z2' 'z7' 'za'
 'zb' 'ze' 'zh' 'zi' 'zl' 'zn' 'zo' 'zs' 'zt' 'zu' 'zx' 'zz']

**Terms with length less than 3 - With custom tokenizer**

In [20]:
# Use NumPy's vectorized operations to find strings with length less than 5
short_strings = np.vectorize(lambda x: len(x) < 3)(vectorizer_uni.get_feature_names_out())

# Filter the original array using the boolean mask
result = vectorizer_uni.get_feature_names_out()[short_strings]

# Print the result
print(result)

['0' '00' '01' '02' '03' '04' '05' '06' '07' '08' '09' '0a' '0f' '1' '10'
 '11' '12' '13' '14' '15' '16' '17' '18' '19' '1a' '1b' '1c' '1d' '1e'
 '1f' '1g' '1h' '1k' '1l' '1m' '1n' '1p' '1s' '1t' '1v' '1w' '1x' '2' '20'
 '21' '22' '23' '24' '25' '26' '27' '28' '29' '2a' '2b' '2c' '2d' '2e'
 '2g' '2k' '2q' '2s' '2v' '2x' '3' '30' '31' '32' '33' '34' '35' '36' '37'
 '38' '39' '3a' '3b' '3c' '3d' '3e' '3g' '3l' '3m' '3s' '3t' '3v' '3w'
 '3x' '3z' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '4a' '4b'
 '4c' '4d' '4e' '4f' '4g' '4h' '4k' '4m' '4q' '4r' '4s' '4u' '4x' '5' '50'
 '51' '52' '53' '54' '55' '56' '57' '58' '59' '5a' '5b' '5c' '5d' '5e'
 '5k' '5q' '5s' '5v' '5x' '6' '60' '61' '62' '63' '64' '65' '66' '67' '68'
 '69' '6a' '6c' '6e' '6i' '6k' '6s' '6x' '7' '70' '71' '72' '73' '74' '75'
 '76' '77' '78' '79' '7a' '7b' '7c' '7d' '7e' '7g' '7l' '7s' '8' '80' '81'
 '82' '83' '84' '85' '86' '87' '88' '89' '8a' '8b' '8c' '8e' '8i' '8x' '9'
 '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '9a' '9b' '9c' '9e'
 '9i' '9k' '9l' '9s' 'a' 'a0' 'a1' 'a2' 'a3' 'a4' 'a5' 'a6' 'aa' 'ab' 'ac'
 'ad' 'ae' 'af' 'ag' 'ah' 'ai' 'aj' 'ak' 'al' 'am' 'an' 'ao' 'ap' 'aq'
 'ar' 'as' 'at' 'au' 'av' 'aw' 'ax' 'ay' 'az' 'b' 'b1' 'b2' 'b3' 'b4' 'b5'
 'b6' 'b7' 'b8' 'ba' 'bb' 'bc' 'bd' 'be' 'bf' 'bg' 'bh' 'bi' 'bj' 'bk'
 'bl' 'bm' 'bn' 'bo' 'bp' 'br' 'bs' 'bt' 'bu' 'bw' 'bx' 'by' 'bz' 'c' 'c1'
 'c2' 'c3' 'c4' 'c5' 'c6' 'c7' 'c8' 'ca' 'cb' 'cc' 'cd' 'ce' 'cf' 'cg'
 'ch' 'ci' 'cj' 'ck' 'cl' 'cm' 'cn' 'co' 'cp' 'cq' 'cr' 'cs' 'ct' 'cu'
 'cv' 'cw' 'cy' 'cz' 'd' 'd0' 'd1' 'd2' 'd3' 'd4' 'd6' 'd8' 'da' 'db' 'dc'
 'dd' 'de' 'df' 'dg' 'dh' 'di' 'dj' 'dk' 'dl' 'dm' 'dn' 'do' 'dp' 'dr'
 'ds' 'dt' 'du' 'dv' 'dw' 'dx' 'dy' 'e' 'e1' 'e2' 'e3' 'e4' 'e7' 'ea' 'eb'
 'ec' 'ed' 'ee' 'ef' 'eg' 'eh' 'ei' 'ej' 'ek' 'el' 'em' 'en' 'eo' 'ep'
 'eq' 'er' 'es' 'et' 'eu' 'ev' 'ew' 'ex' 'ey' 'ez' 'f' 'f1' 'f3' 'f4' 'f5'
 'f6' 'f8' 'f9' 'fa' 'fb' 'fc' 'fd' 'fe' 'ff' 'fg' 'fh' 'fi' 'fj' 'fk'
 'fl' 'fm' 'fo' 'fr' 'fs' 'ft' 'fu' 'fv' 'fw' 'fx' 'g' 'g1' 'g2' 'g3' 'g5'
 'g6' 'g7' 'g8' 'g9' 'ga' 'gb' 'gc' 'gd' 'ge' 'gf' 'gg' 'gh' 'gi' 'gj'
 'gk' 'gl' 'gm' 'gn' 'go' 'gp' 'gq' 'gr' 'gs' 'gt' 'gu' 'gw' 'gx' 'gy' 'h'
 'h1' 'h2' 'h3' 'h8' 'ha' 'hb' 'hc' 'hd' 'he' 'hf' 'hg' 'hh' 'hi' 'hj'
 'hk' 'hl' 'hm' 'ho' 'hp' 'hq' 'hr' 'hs' 'ht' 'hu' 'hw' 'hy' 'hz' 'i' 'i1'
 'i2' 'i3' 'i5' 'i6' 'i7' 'ia' 'ib' 'ic' 'id' 'ie' 'if' 'ig' 'ih' 'ii'
 'ik' 'il' 'im' 'in' 'io' 'ip' 'iq' 'ir' 'is' 'it' 'iu' 'iv' 'ix' 'iy'
 'iz' 'j' 'j1' 'j2' 'j3' 'j4' 'ja' 'jb' 'jc' 'jd' 'je' 'jf' 'jg' 'jh' 'ji'
 'jj' 'jk' 'jl' 'jm' 'jn' 'jo' 'jp' 'jq' 'jr' 'js' 'jt' 'ju' 'jv' 'jw'
 'jy' 'jz' 'k' 'k1' 'k2' 'k3' 'k4' 'k5' 'k6' 'k8' 'k9' 'ka' 'kb' 'kc' 'kd'
 'ke' 'kf' 'kg' 'kh' 'ki' 'kj' 'kk' 'kl' 'km' 'ko' 'kp' 'kq' 'kr' 'ks'
 'kt' 'ku' 'kw' 'ky' 'kz' 'l' 'l0' 'l1' 'l2' 'l3' 'l4' 'l5' 'la' 'lb' 'lc'
 'ld' 'le' 'lf' 'lg' 'li' 'lj' 'lk' 'll' 'lm' 'lo' 'lp' 'lr' 'ls' 'lt'
 'lu' 'lv' 'ly' 'lz' 'm' 'm1' 'm2' 'm3' 'm4' 'm6' 'm9' 'ma' 'mb' 'mc' 'md'
 'me' 'mf' 'mg' 'mh' 'mi' 'mj' 'mk' 'ml' 'mm' 'mn' 'mo' 'mp' 'mq' 'mr'
 'ms' 'mt' 'mu' 'mv' 'mw' 'mx' 'my' 'mz' 'n' 'n0' 'n1' 'n2' 'n3' 'n4' 'n5'
 'n6' 'n9' 'na' 'nb' 'nc' 'nd' 'ne' 'nf' 'ng' 'nh' 'ni' 'nj' 'nl' 'nm'
 'nn' 'no' 'np' 'nr' 'ns' 'nt' 'nu' 'nv' 'nw' 'ny' 'nz' 'o' 'o1' 'o2' 'oa'
 'ob' 'oc' 'od' 'oe' 'of' 'og' 'oh' 'oi' 'oj' 'ok' 'ol' 'om' 'on' 'oo'
 'op' 'or' 'os' 'ot' 'ou' 'ov' 'ow' 'ox' 'oy' 'oz' 'p' 'p1' 'p2' 'p4' 'p8'
 'pa' 'pb' 'pc' 'pd' 'pe' 'pf' 'pg' 'ph' 'pi' 'pj' 'pk' 'pl' 'pm' 'pn'
 'po' 'pp' 'pq' 'pr' 'ps' 'pt' 'pu' 'pv' 'px' 'py' 'pz' 'q' 'q1' 'q2' 'q3'
 'qa' 'qb' 'qc' 'qe' 'qi' 'ql' 'qm' 'qp' 'qq' 'qr' 'qs' 'qu' 'r' 'r2' 'r3'
 'r4' 'ra' 'rb' 'rc' 'rd' 're' 'rf' 'rg' 'rh' 'ri' 'rj' 'rk' 'rl' 'rm'
 'rn' 'ro' 'rp' 'rr' 'rs' 'rt' 'ru' 'rv' 'rw' 'rx' 'ry' 'rz' 's' 's1' 's2'
 's3' 's4' 's5' 'sa' 'sb' 'sc' 'sd' 'se' 'sf' 'sg' 'sh' 'si' 'sj' 'sk'
 'sl' 'sm' 'sn' 'so' 'sp' 'sq' 'sr' 'ss' 'st' 'su' 'sv' 'sw' 'sx' 'sy'
 'sz' 't' 't1' 't2' 't3' 't4' 't5' 't6' 't7' 't8' 't9' 'ta' 'tb' 'tc' 'td'
 'te' 'tf' 'tg' 'th' 'ti' 'tj' 'tk' 'tl' 'tm' 'tn' 'to' 'tp' 'tq' 'tr'
 'ts' 'tt' 'tu' 'tv' 'tw' 'tx' 'ty' 'u' 'u1' 'u2' 'u4' 'u7' 'u9' 'ua' 'uc'
 'ud' 'ue' 'uf' 'ug' 'uh' 'ui' 'uk' 'ul' 'um' 'un' 'up' 'uq' 'ur' 'us'
 'ut' 'uu' 'uv' 'uw' 'ux' 'uz' 'v' 'v1' 'v2' 'v3' 'v4' 'v5' 'v6' 'v7' 'v8'
 'v9' 'va' 'vb' 'vc' 'vd' 've' 'vf' 'vg' 'vi' 'vj' 'vm' 'vn' 'vo' 'vp'
 'vr' 'vs' 'vt' 'vu' 'vw' 'vx' 'vy' 'w' 'w2' 'w3' 'wa' 'wb' 'wc' 'we' 'wf'
 'wg' 'wh' 'wi' 'wj' 'wk' 'wl' 'wm' 'wn' 'wo' 'wp' 'wr' 'ws' 'wt' 'wu'
 'wv' 'ww' 'wy' 'x' 'x0' 'x1' 'x2' 'x3' 'x4' 'x5' 'x6' 'x7' 'x9' 'xe' 'xi'
 'xj' 'xl' 'xo' 'xp' 'xs' 'xt' 'xu' 'xv' 'xx' 'xy' 'y' 'y1' 'y6' 'ya' 'yb'
 'ye' 'yg' 'yi' 'ym' 'yn' 'yo' 'yr' 'ys' 'yt' 'yu' 'yz' 'z' 'z1' 'z2' 'z7'
 'za' 'zb' 'ze' 'zh' 'zi' 'zl' 'zn' 'zo' 'zs' 'zt' 'zu' 'zx' 'zz']

**Exporting the `TfidfVectorizer` object**

In [35]:
with open('./MemoryMatrix/tfidf_vectorizer.pkl', 'wb') as file:
    pickle.dump(vectorizer_uni, file)

**Exporting the sparse matrix**

In [26]:
save_npz('./MemoryMatrix/tfidf_vector', tfidf_uni)

### Getting Top `n` Matches by Calculating Similarity Score - Cosine Similarity

In [27]:
# in pandas we can use style to display things using html
# making the title clickable by attaching a link 
def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val)

# showing the image by attaching a link
def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

- Getting the top matches based on
  - Similarity score (top 30)

In [28]:
# creating the search function
# search function will take => user query and the vectorizer as input

def search_uni(query,vectorizer=vectorizer_uni,tfidf_matrix=tfidf_uni):
    # normalizing the query string => removing unnecessary characters, spaces and making lower case
    processed = re.sub("\s+", " ", re.sub("[^a-zA-Z0-9 ]", "", query.lower()))

    # converting query string into vector using the vectorizer
    query_vec = vectorizer.transform([processed])
    # one row and 233827 columns => (number of columns = number of terms)
    # print(query_vec.shape)
    
    # checking the similarity between query vector and each vector present in tfidf matrix
    # we will get similarity value between query string vector and each of the tfidf matrix vectors
    # (1302659, 233827) , (1, 233827)
    similarity = cosine_similarity(query_vec, tfidf_matrix)
    
    # print(similarity.shape) # So, in total we will get 1302659 similarity values as (1, 1302659) vector

    # We can then flatten it to 1D
    # rounding off the values to 5 decimal places
    similarity = similarity.flatten().round(5)
    # print(similarity.shape)

    # we are getting 20 largest similarities
    # getting top indices using argsort in ascending order as argpartition does not guarentee proper sorting always  
    # indices = np.argpartition(similarity, -20)[-20:]
    indices = np.argsort(similarity)[-30:]

    # arrange them in decending order by reversing the array
    indices = np.array(list(reversed(indices)))

    # getting the corresponding similarity values
    top_similarities = similarity[indices]

    # looking at similarity values and corresponding indices for deciding threshold value
    # print(indices)        
    # print(top_similarities)

    # finalized similarity threshold
    SIMILARITY_THRESHOLD = 0.50000

    # from top 20 similarities we are considering only those similarity whose value is greater than the decided threshold
    sims_above_threshold = np.where(top_similarities >= SIMILARITY_THRESHOLD)
    # print(len(sims_above_threshold[0]))
    
    # if we have any index on the list then only we will go for further processing else returning NOT FOUND text
    # this will helps us to avoid random book display in case of low to no similarity found when searching some unreleted terms
    if (len(sims_above_threshold[0]) < 1 ):
        return "Noting Relevant Found"
    else:
        # here we are getting the index number of the lowest similarity value from top_similarities list
        # we will use the same index number to slice the indices array => indices[:max_index+1]
        max_index = (np.array(sims_above_threshold).max())
        indices = indices[:max_index+1]             

        # we can use the indices to get the corresponding item/book details
        # So, we will have the item/book records corresponding to selected indices   
        results = items.iloc[indices]
        
        # removing duplicate results based on mod_title column
        # unique_results = results.drop_duplicates(subset=['mod_title'])
        # print(len(unique_results))

        # we will sort the books based on highest ratings_count
        # results = results.sort_values("ratings_count", ascending=False)

        # we are using only some columns for demonstration
        # columns = ["gr_book_id", "title", "ratings_count", "url", "image_url", "mod_title"]
        columns = ["book_id", "title", "mod_title"]

        # returning the top results with specified style
        return results[columns].style.format({'url': make_clickable, 'image_url': show_image})

    # return mod_title only - testing purpose
    # return unique_results["mod_title"].values[:5]

In [45]:
search_uni("Goblet Fire")

## Testing The Model

**Loading the vectorizer object**

In [5]:
with open('./MemoryMatrix/tfidf_vectorizer.pkl', 'rb') as file:
    vectorizer = pickle.load(file)

**Loading the sparse tfidf memory matrix**

In [3]:
tfidf = load_npz('./MemoryMatrix/tfidf_vector.npz')

**Function to get the indices of the top matches**

In [21]:
def search(query,vectorizer,tfidf_matrix):
    processed = re.sub("\s+", " ", re.sub("[^a-zA-Z0-9 ]", "", query.lower()))

    query_vec = vectorizer.transform([processed])
    similarity = cosine_similarity(query_vec, tfidf_matrix)
    similarity = similarity.flatten().round(5)

    indices = np.argsort(similarity)[-50:]
    indices = np.array(list(reversed(indices)))
    
    top_similarities = similarity[indices]
    SIMILARITY_THRESHOLD = 0.50000
    sims_above_threshold = np.where(top_similarities >= SIMILARITY_THRESHOLD)
    
    if (len(sims_above_threshold[0]) < 1 ):
        return "Noting Relevant Found"
    else:
        max_index = (np.array(sims_above_threshold).max())
        indices = indices[:max_index+1]

    return indices

In [24]:
indices = search("girl with tattoo",vectorizer=vectorizer,tfidf_matrix=tfidf)
indices

array([ 410676, 1962908,  491718, 1572400, 1146632,   21799,   70036,
       1622985, 1471032, 1252795, 1338776, 1552047, 1389140, 2081798,
        602871, 1488884, 1199101,  776159,  407294, 1907128,  278099,
       1465149,  910848, 1654634, 1557842, 2074660,  821489, 1849312,
       1601379,  536427,  942514,  532637, 1347923, 1933207, 1815274,
        699894, 1999089,  653596,  130797,  732181, 1197305, 1783739,
        869856, 1065579, 1825180, 1483406,  629898, 1754622, 1710101,
        516427], dtype=int64)

In [25]:
results = items.iloc[indices]
results

,book_id,title_without_series,title,language_code,mod_title,mod_title_without_series
458289,448343,Tattoo Girl,Tattoo Girl,,tattoo girl,tattoo girl
2192643,761697,Tattoo Girl,Tattoo Girl,,tattoo girl,tattoo girl
548937,19179374,Girl with the Cat Tattoo,Girl with the Cat Tattoo,eng,girl with the cat tattoo,girl with the cat tattoo
1756137,9272976,The Dragon with the Girl Tattoo,The Dragon with the Girl Tattoo,en-US,the dragon with the girl tattoo,the dragon with the girl tattoo
1280866,18248517,The Girl with the Dragon Tattoo,The Girl with the Dragon Tattoo,eng,the girl with the dragon tattoo,the girl with the dragon tattoo
24299,14459357,The Dragon with the Girl Tattoo,The Dragon with the Girl Tattoo,,the dragon with the girl tattoo,the dragon with the girl tattoo
77969,28440032,The Girl with the Dragon Tattoo,The Girl with the Dragon Tattoo,,the girl with the dragon tattoo,the girl with the dragon tattoo
1812657,14980637,The Dragon with the Girl Tattoo,The Dragon with the Girl Tattoo,,the dragon with the girl tattoo,the dragon with the girl tattoo
1642866,22718649,The Girl with the Dragon Tattoo,The Girl with the Dragon Tattoo,,the girl with the dragon tattoo,the girl with the dragon tattoo
1399261,19916201,The Girl With The Dragon Tattoo,The Girl With The Dragon Tattoo,eng,the girl with the dragon tattoo,the girl with the dragon tattoo
1495354,13449205,The Girl with the Dragon Tattoo,The Girl with the Dragon Tattoo,ind,the girl with the dragon tattoo,the girl with the dragon tattoo
1733362,22855495,The Girl with the Dragon Tattoo,The Girl with the Dragon Tattoo,eng,the girl with the dragon tattoo,the girl with the dragon tattoo
1551504,25111592,The Girl With the Grace Tattoo,The Girl With the Grace Tattoo,,the girl with the grace tattoo,the girl with the grace tattoo
2325724,17826986,The Girl with the Werewolf Tattoo (The Girl wi...,The Girl with the Werewolf Tattoo (The Girl wi...,eng,the girl with the werewolf tattoo the girl wit...,the girl with the werewolf tattoo the girl wit...
673016,13147450,The Girl with the Dragon Tattoo Trilogy,The Girl with the Dragon Tattoo Trilogy,,the girl with the dragon tattoo trilogy,the girl with the dragon tattoo trilogy
1662734,15724268,The Girl with the Dove Tattoo,The Girl with the Dove Tattoo,en-GB,the girl with the dove tattoo,the girl with the dove tattoo
1339411,20627229,Tattoo,Tattoo,ita,tattoo,tattoo
866930,19063166,Tattoo,Tattoo,ger,tattoo,tattoo
454532,16127287,Tattoo,Tattoo,eng,tattoo,tattoo
2130288,7135990,Tattoo,Tattoo,eng,tattoo,tattoo
310149,3274287,Tattoo,Tattoo,,tattoo,tattoo
1636292,1516447,Tattoo,Tattoo,,tattoo,tattoo
1017593,1637737,Tattoo,Tattoo,,tattoo,tattoo
1847974,724412,Tattoo,Tattoo,,tattoo,tattoo
1739891,3071879,Tattoo,Tattoo,,tattoo,tattoo
2317769,25017077,TATTOO,TATTOO,,tattoo,tattoo
917644,282440,"Tattoo (Tattoo, #1)","Tattoo (Tattoo, #1)",eng,tattoo tattoo 1,tattoo tattoo 1
2065607,7048937,"Tattoo (Tattoo, #1)","Tattoo (Tattoo, #1)",,tattoo tattoo 1,tattoo tattoo 1
1788453,14290725,"Tattoo (Tattoo, #1)","Tattoo (Tattoo, #1)",eng,tattoo tattoo 1,tattoo tattoo 1
598797,2904036,"Tattoo (Tattoo, #1)","Tattoo (Tattoo, #1)",,tattoo tattoo 1,tattoo tattoo 1
1053003,683548,The Tattoo,The Tattoo,,the tattoo,the tattoo
594540,11788519,The Tattoo,The Tattoo,,the tattoo,the tattoo
1505534,36310591,The Tattoo,The Tattoo,,the tattoo,the tattoo
2159523,22310004,The Girl with the Werewolf Tattoo Trilogy,The Girl with the Werewolf Tattoo Trilogy,eng,the girl with the werewolf tattoo trilogy,the girl with the werewolf tattoo trilogy
2027426,20320357,The Girl with the Thistle Tattoo,The Girl with the Thistle Tattoo,en-US,the girl with the thistle tattoo,the girl with the thistle tattoo
781624,34594249,The Girl with the Dragon Tattoo - Millennium,The Girl with the Dragon Tattoo - Millennium,eng,the girl with the dragon tattoo millennium,the girl with the dragon tattoo millennium
2233138,30983387,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
729706,6620989,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
145886,7645590,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",en-GB,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
817744,3323056,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
1337394,7118572,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
1992114,26452946,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
971757,12089925,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",en-US,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
1190417,1990178,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",en-GB,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
2038549,6912901,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
1656673,6762172,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
703269,19750693,"The Girl With the Dragon Tattoo (Millennium, #1)","The Girl With the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
1959529,13336530,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
1909913,6696541,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",en-US,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1
576471,9844401,"The Girl with the Dragon Tattoo (Millennium, #1)","The Girl with the Dragon Tattoo (Millennium, #1)",eng,the girl with the dragon tattoo millennium 1,the girl with the dragon tattoo millennium 1