## Exploring book_id_map.csv File

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Initial/book_id_map.csv")

In [3]:
df.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [5]:
df.tail()

         book_id_csv   book_id
2360645      2360645  19517100
2360646      2360646  18597299
2360647      2360647  18584882
2360648      2360648  18518801
2360649      2360649  18518607

In [4]:
df.shape

(2360650, 2)

**Insight**
- Total Number of records = 2,360,650

In [8]:
len(df["book_id"].unique()),len(df["book_id_csv"].unique())

(2360650, 2360650)

**Insight**
- The number of unique values in `book_id` and `book_id_csv` is same.
- So, this is a mapping file without any duplicates